body{
    background-image: url(https://media.istockphoto.com/id/1310158033/video/national-flag-of-mexico-blowing-in-the-wind-seamless-loop.jpg?s=640x640&k=20&c=2XY1Ogc0ahuroV-oqmFKOinYwsv8oJ-GUmn8-EsVwsI=);
}
table, tr, td{
    border: 1px solid rgb(253, 253, 253);
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #000000; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 12px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #aa0404;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #ff0000;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
  }
